/////////////////////////////////////////////////
// settings

.setting {
  background-color: #ebebeb;
  width: 30px;
  position: fixed;
  top: 30rem;
  left: 0;
  transition: all 0.3s;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.setting__box {
  width: 200px;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  background-color: var(--bg-panel);
  color: var(--color-text);
  position: fixed;
  top: 30rem;
  padding: 2rem;
  transform: translateX(-200px);
  transition: all 0.3s;

  &--grid {
    margin: 1rem auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 1rem;
    &--item {
      min-width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

#setting__checkbox:checked ~ .setting__box {
  transform: translateX(0);
}

#setting__checkbox:checked ~ .setting {
  left: 200px;
}

input[type="checkbox"] {
  display: none;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

label[for="switch"] {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
}

#switch:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
#switchinput:checked + label {
  background: var(--main-color);
}
.red {
  background-color: #e65f78;
}
.blue {
  background-color: #5d69f6;
}
.green {
  background-color: #31b164;
}
.orange {
  background-color: #f2b31a;
}
.violet {
  background-color: #87ceeb;
}
.brown {
  background-color: #795548;
}
