/*  Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// General Props

html {
  // Custom Properies

  --main-color: #f47a65;
  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --color-text: #333333;

  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-text: #b5b5b5;
}

.container {
  width: 90%;
  margin: 0 auto;

  @media (min-width: 700px) {
    width: 85%;
  }
}

h2 {
  font-size: 3.2rem;
  color: var(--main-color);
}

/****** HEADER ****/
.header {
  background-color: var(--bg-panel);
  font-size: 1.6rem;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    a {
      text-decoration: none;
      font-size: 2rem;
      text-transform: capitalize;
      color: var(--main-color);
    }
  }

  input {
    display: none;
  }

  &__button {
    width: 4rem;
    height: 4rem;
    z-index: 10;
    box-shadow: 0 1rem 2rem rgba(#333, 0.05);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;

    @media (min-width: 700px) {
      display: none;
    }
  }

  &__hamburger {
    position: relative;

    &,
    &::after,
    &::before {
      width: 3rem;
      height: 3px;
      display: inline-block;
      background-color: var(--color-text);
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
      backface-visibility: hidden;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 30px;
    padding: 25px;
    background-color: var(--bg-panel);
    width: 100%;
    transform: translateY(-150%);
    transition: all 0.2s;

    @media (min-width: 700px) {
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
      flex-direction: row;
      margin-left: auto;
      width: auto;
    }

    &--item {
      text-decoration: none;
      color: var(--color-text);
      display: inline-block;
      margin-top: 1rem;
      text-transform: capitalize;

      @media (min-width: 700px) {
        margin: 0;
        margin-left: 4rem;
      }
    }
  }

  &__button:hover &__hamburger::before {
    top: -1rem;
  }

  &__button:hover &__hamburger::after {
    top: 1rem;
  }
  &__checkbox:checked + &__button &__hamburger {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__hamburger::before {
    transform: rotate(135deg);
    top: 0;
  }
  &__checkbox:checked + &__button &__hamburger::after {
    transform: rotate(-135deg);
    top: 0rem;
  }

  &__checkbox:checked ~ &__nav {
    transform: translateY(0);
  }
}

////////////////////////////////////////////////////

// Home section

.home {
  height: calc(100vh - 40px);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(10, 20, 10, 0.8)
    ),
    url(../assets/images/home.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  &__span {
    font-size: 1.6rem;
    font-weight: 200;
  }

  h1 {
    font-size: 6.4rem;
    width: min-content;
    text-align: center;
    margin: 0.5rem auto 2rem;
    text-transform: capitalize;

    @media (min-width: 700px) {
      width: 100%;
    }
  }

  &__subtitle {
    font-size: 3.2rem;
    text-transform: capitalize;
  }
}

///////////////////////////////////////////////
// about section

.about {
  padding: 8rem 0;
  background-color: var(--bg-panel);

  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }
  .img__container {
    @media (min-width: 700px) {
      flex-basis: 50%;
      margin-right: 4rem;
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 3.2rem;
    max-height: 100%;
  }

  hr {
    margin-bottom: 1.6rem;
  }

  p {
    color: var(--color-text);
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
    span {
      color: var(--main-color);
      font-size: 2.4rem;
      margin-bottom: 3.2rem;
      text-transform: capitalize;
    }
  }

  &__info {
    @media (min-width: 700px) {
      flex-basis: 50%;
    }
  }

  &__btn {
    background-color: var(--main-color);
    border: none;
    outline: none;
    border-radius: 1rem;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    &:hover {
      border-radius: 2rem;
    }
    button {
      @extend .about__btn;
      width: 16rem;
      padding: 2rem;
    }
  }
}

.horizantal-line {
  width: 125px;
  height: 5px;
  background-color: var(--main-color);
  border: none;
  border-radius: 50%;
}
