/*  Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  --main-color: #f47a65;
  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --color-text: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth; }

html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-text: #b5b5b5; }

.container {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 700px) {
    .container {
      width: 85%; } }

h2 {
  font-size: 3.2rem;
  color: var(--main-color);
  text-transform: capitalize; }

/****** HEADER ****/
.header {
  background-color: var(--bg-panel);
  font-size: 1.6rem;
  position: relative; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--main-color); }
  .header input {
    display: none; }
  .header__button {
    width: 4rem;
    height: 4rem;
    z-index: 10;
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.05);
    text-align: center;
    cursor: pointer;
    border-radius: 10px; }
    @media (min-width: 700px) {
      .header__button {
        display: none; } }
  .header__hamburger {
    position: relative; }
    .header__hamburger, .header__hamburger::after, .header__hamburger::before {
      width: 3rem;
      height: 3px;
      display: inline-block;
      background-color: var(--color-text); }
    .header__hamburger::before, .header__hamburger::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
      backface-visibility: hidden; }
    .header__hamburger::before {
      top: -0.8rem; }
    .header__hamburger::after {
      top: 0.8rem; }
  .header__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 30px;
    padding: 25px;
    background-color: var(--bg-panel);
    width: 100%;
    transform: translateY(-150%);
    transition: all 0.2s; }
    @media (min-width: 700px) {
      .header__nav {
        position: relative;
        top: 0;
        left: 0;
        transform: translateY(0);
        flex-direction: row;
        margin-left: auto;
        width: auto; } }
    .header__nav--item {
      text-decoration: none;
      color: var(--color-text);
      display: inline-block;
      margin-top: 1rem;
      text-transform: capitalize; }
      @media (min-width: 700px) {
        .header__nav--item {
          margin: 0;
          margin-left: 4rem; } }
  .header__button:hover .header__hamburger::before {
    top: -1rem; }
  .header__button:hover .header__hamburger::after {
    top: 1rem; }
  .header__checkbox:checked + .header__button .header__hamburger {
    background-color: transparent; }
  .header__checkbox:checked + .header__button .header__hamburger::before {
    transform: rotate(135deg);
    top: 0; }
  .header__checkbox:checked + .header__button .header__hamburger::after {
    transform: rotate(-135deg);
    top: 0rem; }
  .header__checkbox:checked ~ .header__nav {
    transform: translateY(0); }

.home {
  height: calc(100vh - 40px);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(10, 20, 10, 0.8)), url(../assets/images/home.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff; }
  .home__span {
    font-size: 1.6rem;
    font-weight: 200; }
  .home h1 {
    font-size: 6.4rem;
    width: min-content;
    text-align: center;
    margin: 0.5rem auto 2rem;
    text-transform: capitalize; }
    @media (min-width: 700px) {
      .home h1 {
        width: 100%; } }
  .home__subtitle {
    font-size: 3.2rem;
    text-transform: capitalize; }

.about {
  padding: 8rem 0;
  background-color: var(--bg); }
  .about__container {
    display: flex;
    flex-direction: column; }
    @media (min-width: 700px) {
      .about__container {
        flex-direction: row; } }
  @media (min-width: 700px) {
    .about .img__container {
      flex-basis: 50%;
      margin-right: 4rem; } }
  .about__img {
    width: 100%;
    margin-bottom: 3.2rem;
    max-height: 100%;
    border-radius: 1rem;
    transition: all 0.2s; }
    .about__img:hover {
      outline: 5px solid var(--main-color);
      outline-offset: 1rem; }
  .about hr {
    margin-bottom: 1.6rem; }
  .about p {
    color: var(--color-text);
    font-size: 1.6rem;
    margin-bottom: 3.2rem; }
    .about p span {
      color: var(--main-color);
      font-size: 2.4rem;
      margin-bottom: 3.2rem;
      text-transform: capitalize; }
  @media (min-width: 700px) {
    .about__info {
      flex-basis: 50%; } }
  .about__btn, .about__btn button, .form__btn {
    background-color: var(--main-color);
    border: none;
    outline: none;
    border-radius: 1rem;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.6rem; }
    .about__btn:hover, .about__btn button:hover, .form__btn:hover {
      border-radius: 2rem; }
    .about__btn button, .form__btn button {
      width: 16rem;
      padding: 2rem; }

.horizantal-line {
  width: 125px;
  height: 5px;
  background-color: var(--main-color);
  border: none;
  border-radius: 50%; }

.projects {
  padding: 8rem 0;
  background-color: var(--bg-panel); }
  .projects h2 {
    text-align: center;
    margin-bottom: 1rem; }
  .projects a {
    text-decoration: none; }
  .projects hr {
    margin: 0 auto 6.4rem; }
  .projects img {
    max-width: 100%;
    transition: transform 0.3s;
    cursor: pointer; }
    .projects img:hover {
      transform: scale(1.1); }
  .projects .project__name {
    text-align: center;
    font-size: 2rem;
    color: var(--color-text);
    text-transform: capitalize;
    margin-bottom: 1rem; }
  .projects__grid {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    width: 90%; }
    @media (min-width: 700px) {
      .projects__grid {
        width: 85%; } }
    .projects__grid--item {
      overflow: hidden; }

.contact {
  padding: 8rem 0;
  background-color: var(--bg); }
  .contact h2 {
    text-align: center;
    margin-bottom: 1rem; }
  .contact hr {
    margin: 0 auto 6.4rem; }
  .contact nav {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contact .icon {
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 1.6rem; }
    .contact .icon:last-of-type {
      margin-right: 0; }
    .contact .icon img {
      max-width: 100%; }

.form__contianer {
  display: flex;
  margin: 0 auto;
  flex-direction: column; }
  @media (min-width: 750px) {
    .form__contianer {
      flex-direction: row;
      justify-content: space-between; } }

.form-item {
  text-align: center;
  margin-bottom: 1.6rem; }
  @media (min-width: 750px) {
    .form-item {
      flex-basis: 48%; } }
  .form-item label {
    position: absolute;
    left: -1000px; }
  .form-item input,
  .form-item textarea {
    border: 2px solid var(--color-text);
    min-width: 100px;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: inherit;
    width: 100%;
    outline: none; }
  .form-item textarea {
    min-height: 200px; }

.form__btn {
  width: 20rem;
  height: 4rem;
  display: block;
  margin: 3rem auto; }

/*# sourceMappingURL=style.css.map */
