/*  Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  --main-color: #f47a65;
  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --color-text: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth; }

html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-text: #b5b5b5; }

.container {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 700px) {
    .container {
      width: 85%; } }

/****** HEADER ****/
.header {
  background-color: var(--bg-panel);
  font-size: 1.6rem;
  position: relative; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--main-color); }
  .header input {
    display: none; }
  .header__button {
    width: 4rem;
    height: 4rem;
    z-index: 10;
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.05);
    text-align: center;
    cursor: pointer;
    border-radius: 10px; }
    @media (min-width: 700px) {
      .header__button {
        display: none; } }
  .header__hamburger {
    position: relative; }
    .header__hamburger, .header__hamburger::after, .header__hamburger::before {
      width: 3rem;
      height: 3px;
      display: inline-block;
      background-color: var(--color-text); }
    .header__hamburger::before, .header__hamburger::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
      backface-visibility: hidden; }
    .header__hamburger::before {
      top: -0.8rem; }
    .header__hamburger::after {
      top: 0.8rem; }
  .header__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 30px;
    padding: 25px;
    background-color: var(--bg-panel);
    width: 100%;
    transform: translateY(-150%);
    transition: all 0.2s; }
    @media (min-width: 700px) {
      .header__nav {
        position: relative;
        top: 0;
        left: 0;
        transform: translateY(0);
        flex-direction: row;
        margin-left: auto;
        width: auto; } }
    .header__nav--item {
      text-decoration: none;
      color: var(--color-text);
      display: inline-block;
      margin-top: 1rem;
      text-transform: capitalize; }
      @media (min-width: 700px) {
        .header__nav--item {
          margin: 0;
          margin-left: 4rem; } }
  .header__button:hover .header__hamburger::before {
    top: -1rem; }
  .header__button:hover .header__hamburger::after {
    top: 1rem; }
  .header__checkbox:checked + .header__button .header__hamburger {
    background-color: transparent; }
  .header__checkbox:checked + .header__button .header__hamburger::before {
    transform: rotate(135deg);
    top: 0; }
  .header__checkbox:checked + .header__button .header__hamburger::after {
    transform: rotate(-135deg);
    top: 0rem; }
  .header__checkbox:checked ~ .header__nav {
    transform: translateY(0); }

.home {
  height: calc(100vh - 40px);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(10, 20, 10, 0.8)), url(../assets/images/home.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff; }
  .home__span {
    font-size: 1.6rem;
    font-weight: 200; }
  .home h1 {
    font-size: 6.4rem;
    width: min-content;
    text-align: center;
    margin: 0.5rem auto 2rem;
    text-transform: capitalize; }
    @media (min-width: 700px) {
      .home h1 {
        width: 100%; } }
  .home__subtitle {
    font-size: 3.2rem;
    text-transform: capitalize; }

/*# sourceMappingURL=style.css.map */
