// Home section

.home {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(10, 20, 10, 0.8)
    ),
    url(../assets/images/home.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  &__span {
    font-size: 1.6rem;
    font-weight: 200;
  }

  h1 {
    font-size: 6.4rem;
    width: min-content;
    text-align: center;
    margin: 0.5rem auto 2rem;
    text-transform: capitalize;

    @media (min-width: 700px) {
      width: 100%;
    }
  }

  &__subtitle {
    font-size: 3.2rem;
    text-transform: capitalize;
  }
}

///////////////////////////////////////////////
